
.body{
  background-color: rgb(166, 4, 4);
}

/* Barra de Navegacion */
.navbar-dark{

  background-color: rgb(19, 19, 19);

}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(159, 159, 159);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(255, 255, 255);
}

#name-left{
  color: rgb(255, 255, 255);
  margin: 0 2rem 0 0;
}

#imgIcon{
  border: #333333 solid 1px;
  border-radius: 10%;
}


.navbar-nav .nav-item :hover{
  color: rgb(19, 19, 19);
}

/* adaptacion de la barra de navegacion a pantallas pequeñas */

@media screen and (max-width: 767px) {

  .navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(0, 0, 0);
  }

  #hero-info{
    align-items: center;
  }



}

@media screen and (max-width: 740px) {

  .navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(0, 0, 0);
  }

  #hero-info {
    align-items: center;
  }




}


@media screen and (max-width: 290px) {


  #name-left{
    display: none;
  }

  #hero-info{
    text-align: center;
  }


}

/* adaptación de la seccion hero */

#hero-image{
 height: 30rem;
 width: 22.5rem;
 alignment: center;
 border-radius: 3%;

}

.hero{
  background-color: rgb(19, 19, 19);
  background-size: cover;
  color: WHITE;
}

#hero-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 30rem;
  width: 22.5rem;
  padding: 0 0 0 2rem;
}

#hero-info h2{
  color: #555555;
  font-size: 2rem;
  font-weight: 200;
}
